# Exclude git history
.git/
.gitignore

# Exclude python compilation files
__pycache__/
*.pyc

# Exclude virtual environments 
venv/
env/
.env

# Exclude local migration history (Since we are generating fresh in the cloud)
migrations/

# Exclude Docker yml
docker-compose.yml
README.md