# This holds all the pip installs required to run the app
# To install, run "pip install -r requirements.txt" in the terminal
# To freeze (fix) the versions, run "pip freeze > requirements.txt"
# This avoids compatibility issues with updates 

Flask==3.1.2 # Web framework
SQLAlchemy==2.0.44 # Object-relation-mapping for database
Flask-SQLAlchemy==3.1.1 # Integrates SQLAlchemy with flask
python-dotenv==1.2.1 # Loads environment variables
passlib==1.7.4 # For hashing passwords
flask-smorest==0.46.2
flask-jwt-extended==4.7.1
Flask-Migrate==4.1.0
flask-cors==6.0.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-auth-httplib2==0.2.1
requests==2.32.5
urllib3==2.5.0psycopg2-binary==2.9.11
